body { background: #1bd03f; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 54px; display: flex; }
.block-logger-0 { color: #be6f3d; font-size: 12px; margin-bottom: 5px; }
.block-auth-1 { color: #b58cc8; font-size: 16px; margin-bottom: 5px; }
.block-notify-2 { color: #219dfe; font-size: 14px; margin-bottom: 5px; }
.block-cache-3 { color: #79cc61; font-size: 20px; margin-bottom: 5px; }
.block-cache-4 { color: #93c9d3; font-size: 18px; margin-bottom: 5px; }